<!DOCTYPE html>
<html>

<head>
    <title>NestJS com HTML estático</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="container">
        <h1>Welcome to NestJS!</h1>
        <p>This is a static HTML page rendered by NestJS.</p>
        <div class="btn-container">
            <input type="text" id="userNameInput" placeholder="Enter your name">
            <button id="goToPage2" disabled>Go to Page 2</button>
        </div>
    </div>
    <script src="/scripts.js"></script>
</body>

</html>